<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223667314680-e9g52l35fkoi4gs42r7n0neaeu9lrbqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223667314680-e9g52l35fkoi4gs42r7n0neaeu9lrbqg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>223667314680-gthopstjavorabj4t90hbb979ps9s94s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVaCkIaW8oGZ4iFTsZFTZcdJpUs8BaEJU</string>
	<key>GCM_SENDER_ID</key>
	<string>223667314680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.padilni</string>
	<key>PROJECT_ID</key>
	<string>padilni-12811</string>
	<key>STORAGE_BUCKET</key>
	<string>padilni-12811.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223667314680:ios:f6772dc7a06f87325c400d</string>
</dict>
</plist>